@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #0f579b 1%,#9cc2e4 100%);
}

.container {
  width: 100%;
  position: relative;
  color: #fff;
  min-height: 100vh;
}

.container:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/cloud.png") center center/cover;
  animation: animate 400s linear infinite;
  z-index: -4;
}

@keyframes animate {

    0%
    {
      background-position: 0px;
    }
    100%
    {
      background-position: 5440px;
    }
}

.dashboard {
  columns: 2;
  max-width: 700px;
  min-height: 650px;
  padding-bottom: 50px;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

h1 {
  font-size: 1.3rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  color: rgb(208, 127, 15);
  font-weight: 900;
}

.intro {
  text-align: center;
  padding: 2.5rem;
}

.search {
  max-width: 330px;
  margin: 0px auto;
  display: flex;
}

.location-button {
  position: relative;
  right: 40px;
  top: 7px;
}

.location-button:hover {
  color: rgb(208, 127, 15);
}

.location-button:active {
  color: black;
  transform: translateY(4px);
}

.location-search-input {
  font-family: 'Montserrat', sans-serif;
  width: 330px;
  height: 40px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.location-search-input:focus {
  outline: none !important;
  border: 2px solid rgba(255,255,255, 0.8);
}

.location-search-input:hover {
  border: 2px solid rgba(255,255,255, 0.8);
}

.location-search-input::placeholder {
  color: white;
}

.input-suggestion {
  font-family:  'Montserrat', sans-serif;
  width: 310px;
  margin: 0 10px 0 10px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 1.4rem;
  font-size: 0.9rem;
  color: black;
}

.autocomplete-dropdown-container {
    position: absolute;
    z-index: 100 !important;
    width: 330px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    -webkit-transform: translate3d(0,0,0);
}

.time-container {
  width: 330px;
  height: 190px;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  padding: 10px;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.unit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-handle-unit {
  padding: 5px;
  background-color: transparent;
  color: white;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
}

.date {
  padding: 15px;
  font-weight: 600;
  font-size: 1.1rem;
}

@media(max-width: 800px) {
  .dashboard {
    justify-content: center;
    display: flex;
    max-width: 500px;
    }
}
